/*Шрифт для главного заголовка сайта*/
@font-face {
	font-family: 'Supernatural KG';
	src: url('../fonts/supernatural_kg.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/supernatural_kg.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/supernatural_kg.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/supernatural_kg.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/supernatural_kg.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/supernatural_kg.svg#supernatural_kg') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.woff2') format('woff2'),
        url('../fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Thin.woff2') format('woff2'),
        url('../fonts/Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.container_0 {
    max-width: 1080px;
    max-height: 2024px;
    margin: 0 auto;
}
.header {
    background-position: center;
    width: 100%;
    height: 1195px;
    background-size: cover;
    background: linear-gradient(180.09deg, #E4CFBC 19.84%, #D5D1CD 99.93%);
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.img_header {
    background-image: url(lexus_main.png);
    position: absolute;
    top: -5px;
    left: 270px;
    margin: 10px;
    background-size: cover;
    max-width: 970px;
}
.img_header img {
    width: auto;
    height: auto;
}
.header_title_1 {
    float: left;
    max-width: 751px;
    height: 244px;
    position: absolute;
    margin-top: 244px;
    left: 34px;
    font-family: 'Supernatural KG', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 122px;

    color: #FFFFFF;
}
.header_title_2 {
    float: left;
    width: 356px;
    height: 93px;
    position: absolute;
    margin-top: 687px;
    left: 90px;
    font-family: 'Supernatural KG', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;

    color: #2E2E2E;
}

@media (max-with: 1081px) {
    .header_title_1 {
        width: 50%;
    }
    .header_title_2 {
        width: 50%;
    }
    .img_header {
        width: 50%;
        height: 50%;
        text-align: left;
    }
    .header {
        height: auto;
    }
}

@media (max-with: 768px) {
    .header_title_1 {
        display: none;
    }
    .header_title_2 {
        width: 100%;
    }
    .img_header {
        width: 30%;
    }
}

.content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    background: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #0E0E0E;
}
.container_1 {
    position: absolute;
    max-width: 966px;
    height: 151px;
    margin-top: 54px;
    left: 100px;
}
.Rectangle_7 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;  
}
.container_wave {
    max-width: 153px; 
    margin-top: 90px; 
    align-items: center;
    margin-left: 400px;
}
.mark {
    align-items: center;
}
.container_2 {
    width: 966px;
    height: 339px;
    margin-top: 455px;
    align-items: center;
    left: 120px;
}
.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 121.92%;
    text-align: left;
    padding: auto;

    color: #0E0E0E;
}
.container_short {
    position: absolute;
    left: 25px;
    margin-top: 12px;
}
.Rectangle_54 {
    width: 136px;
    height: 23px;
    background: #E4CFBC;
}
.container_button_up {
    margin-top: 80px;
    align-self: center;
    margin-left: 300px;
    margin-right: auto;
}
.button_1 {
    width: 540px;
    height: 92px;
    color: white;
    font-size: 41px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 49.99px;
    word-wrap: break-word;
    background: #AAAFAB;
    border-radius: 44px;
    cursor: pointer;
}
.button_1 :hover {
    background-color: #232222;
}
.container_button_down {
    position: absolute;
    margin-top: 5000px;
    left: 300px;
}
.button_2 {
    width: 540px;
    height: 92px;
    color: white;
    font-size: 41px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 49.99px;
    word-wrap: break-word;
    background: #AAAFAB;
    border-radius: 44px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button_2 :hover {
    background-color: #232222;
}
/* Стили для формы обратной связи */
#feedbackForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 800px;
    background: white;
    border: 2px solid #DBB2BA;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
}
.hide {
    display: none;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    color: #333333;
}
.textbox, .message, .button, .X {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.textbox, .button, .X {
    height: 40px;
    border: none;
    border-radius: 10px;
} 
.textbox {
    padding: 10px;
}
.message {
    height: 100px;
    padding: 10px;
    border: 2px solid #99d9c6
}
.list_1 {
    width: 479px;
    height: 0px;
    left: 386px;
    margin-top: 90px;
    display: flex;
    margin-left: 400px;
    margin-right: auto;
}
.Line14 {
    width: 479px; 
    height: 0px; 
    margin-left: 268px;
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 5px #1D1D1D solid
}
.list_2 {
    position: absolute;
    top: 352px;
}
ul {
    padding-left: 50px;
    text-align: center;
    list-style-type: none;
}

.big_0 {
    font-size: 50px;
    font-weight: 900;
    line-height: 60.96px;
    color: #1D1D1D;
    font-family: Inter;
    word-wrap: break-word;
    
}
.list_2_items li {
    padding-left: 25px;
    background: url("icons/Rectangle_1.png") no-repeat;
}
li {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}

.container_3 {
    position: absolute;
    max-width: 966px;
    margin-top: 850px;
    left: 120px;
}
.description_1 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}
.container_4 {
    position: absolute;
    margin-top: 1300px;
    left: 140px;
}
.head {
    max-width: 663px;
    font-family: Inter, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;

    color: #DBB2BA;
}
.container_5 {
    position: absolute;
    margin-top: 1480px;
    left: 140px;
}
.Line7 {
    width: 933px;
    left: 52px;
    border: 2px;

    background: #222222;

    border: 2px solid #222222
}
/* Список 2 */
.list_2 {
    position: absolute;
    max-width: 680px;
    margin-top: 2100px;
    left: 148px;
}
.list_2_items {
    list-style-image: url(Rectangle_1.png);  
}
.big_1 {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;

    color: #DBB2BA;

    
    background: url(Rectangle_1.png) no-repeat 0 50%; /* Параметры фона */
}
li {
    margin-bottom: 1em;
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.container_6 {
    position: absolute;
    max-width: 920px;
    height: 333px;
    margin-top: 3450px;
    margin-left: 120px;
}
.description_2 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    color: #242424;
}
.container_7 {
    display: flex;
    position: absolute;
    max-width: 950px;
    height: 30px;
    margin-top: 3896px;
    margin-left: auto;
    margin-right: auto;
}
.services_left {
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    color: #242424;
}
.services_right {
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    color: #242424;
}
.container_8 {
    position: absolute;
    width: 920px;
    height: 296px;
    margin-top: 4330px;
    margin-left: auto;
    margin-right: auto;
}
.description_3 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}
.container_9 {
    position: absolute;
    width: 372px;
    height: 185px;
    top: 6417px;
    margin-left: auto;
    margin-right: auto;
}
.description_4 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}
.container_10 {
    position: absolute;
    width: 141px;
    height: 610px;
    margin-top: 6059px;
    margin-left: auto;
    margin-right: auto;
}
.description_comma {
    font-family: Inter, sans-serif;
    font-size: 500px;
    font-weight: 400;
    line-height: 610px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.container_11 {
    position: absolute;
    width: 600px;
    height: 650px;
    margin-top: 5308px;
    margin-left: 390px;
}
.pic_before {
    width: 373px;
    height: 475px;
    display: block;
    position: absolute;
    visibility: visible;
    -webkit-text-size-adjust: 100%;
    rotate: -5deg;
}
.tn-atom-b {
    line-height: 45px;
    margin-top: 400px;
    margin-left: 30px;
    height: 45px;
    width: 45px;
    color: #ffffff;
    position: absolute;
}
.tn-atom-a {
    line-height: 45px;
    margin-top: 400px;
    margin-left: 430px;
    height: 39px;
    width: 39px;
    color: #171515;
    position: absolute;
    
}
.pic_after {
    width: 383px;
    height: 463px;
    position: absolute;
    visibility: visible;
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    -webkit-text-size-adjust: 100%;
    display: block;
    margin-left: 350px;
}
.container_12 {
    max-width: 1166px;
    margin-top: 6026px;
    position: absolute;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.pic_double_before_after {
    position: relative;
}
.container_13 {
    position: absolute;
    width: 990px;
    height: 309px;
    display: flex;
    align-items: center;
    top: 8750px;
    margin-left: auto;
    margin-right: auto;
}
.description_5 {
    position: absolute;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #242424;
    padding-top: 5px;
}
.icon {
    padding-top: 200px;
    font-size: 24px; /* Размер иконок (замените на свой) */
    margin: 0 10px; /* Интервал между иконками */
}
.container_14 {
    position: absolute;
    width: 962px;
    height: 449px;
    top: 9306px;
    margin-left: auto;
    margin-right: auto;
}
.h3 {
    font-family: Inter, sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    

}
.description_6 {
    position: absolute;
    font-family: Inter;
    font-size: 38px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;

}
.icon {
    padding-top: 430px;
    font-size: 34px; /* Размер иконок (замените на свой) */
    margin: 0 1px; /* Интервал между иконками */
}
.container_15 {
    position: absolute;
    width: 1252px;
    height: 1724px;
    top: 9750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container_16 {
    position: absolute;
    width: 1245px;
    height: 526.44px;
    top: 11100px;
    align-items: center;
}
.container_17 {
    position: absolute;
    width: 777px;
    height: 328px;
    top: 12080px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.h2 {
    width: 701px;
    height: 96px;

    font-family: Inter, sans-serif;
    font-size: 79px;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #DBB2BA;
}
.icon container_16 {
    padding: auto;
    font-size: 14px; /* Размер иконок (замените на свой) */
    margin: 0 1px; /* Интервал между иконками */
}